body {
    background-color: pink;
    text-align: center;
}

section {
    background-color: crimson;
}

h1 {
    background-color: darkorange;
}

.textorum {
    background-color: olivedrab;
}

.row {
    text-align: center;
}